@use '../variabelen/colors';

.header {
    padding: 1rem;
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: colors.$donkerblauw;
    position: relative;
}

.header__logo{
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: green;
    height: 10rem;
    width: 20rem;
}

.header__nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: red;
    padding: 1rem;
}

.header__list{
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 2rem;
    list-style: none;
    color: white;
}